spring:
  profiles:
    include: secret, oauth
  datasource:
    url: jdbc:h2:mem:teamproject
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create-drop

    properties:
      hibernate:
        format_sql: true

    show-sql: true

app:
  frontend-url: http://localhost:3000
  jwt:
    expiration-ms: 604800000
